# Supabase
VITE_SUPABASE_URL=https://yvrbnghjulfmaveckiwa.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-key-sb_publishable__VLzPQlyWXOJfzapljskZg_m_wQGe3o

# App
VITE_APP_NAME=QuizSlayer
VITE_APP_URL=http://localhost:5173
